/*#question{
  width: 100px;
  height: 100px;
  background-color: gray;
  margin: 1px;
  border: 4px solid lightgray;
  text-align: center;
  font-size: 60px;
}*/

.jumbotron h1{
  font-family: 'Archivo Black', sans-serif;
}
.code button{
  width: 100px;
  height: 100px;
  background-color: gray;
  margin: 1px;
  border: 4px solid lightgray;
  text-align: center;
  font-size: 60px;
}
body{
  padding-top: 60px;
}
